<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
<div layout:fragment="content" class="row py-5 px-4">
    <div class="col-xl-6 col-md-8 col-sm-10 mx-auto">

        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 bg-dark">
                <div class="media align-items-end profile-header">
                    <div class="profile mr-3">
                        <div class="avatar" style="width:30px, height:30px;">

                            <img th:src="@{|/files/${pet.petImage.fileName}|}" alt="pet" class="avatar-img rounded-circle" style="width:200px; height:200px;"/>
<!--                            펫프로필 업데이트?사진지우기? 어디서해야할지 아직 생각중-->
<!--                            <form th:action="@{|/profile/deleteProfileImage|}" method="post">-->
<!--                                <input type="hidden" name="profileid" th:value="${profile.id}">-->
<!--                                <button type="submit" class="btn btn-link" style="text-decoration:none; color:white;">✕</button>-->
<!--                            </form>-->
                        </div>
                    </div>

                    <div class="media-body mb-5 text-white">
<!--                        <a th:href="@{|/profile/update|}" class="btn btn-dark btn-sm btn-block text-muted">프로필 수정</a>-->
                        <h4 class="mt-0 mb-0" th:text="${pet.Name}"></h4>
                        <p class="small mb-4" th:text="${pet.content}"> <i class="fa fa-map-marker mr-2"></i></p>


                        <!-- Button trigger modal -->
<!--                        <a th:if="${siteUser == profile.member}" sec:authorize="isAuthenticated()" th:href="@{|/profile/update|}" class="btn btn-dark btn-sm btn-block text-muted">✎</a>-->

                        <button type="button" class="btn btn-dark btn-sm btn-block text-muted" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                th:if="${#authentication.principal.username == pet.owner.member.userName}" sec:authorize="isAuthenticated()">
                            수정
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">modifyPet</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- 폼 시작 -->
                                        <form th:action="@{/profile/updatepet}" method="post" enctype="multipart/form-data" id="myForm">
                                            <div class="col-xl-4 col-md-6 col-sm-10 mx-auto">
                                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                                <input type="hidden" name="petid" th:value="${pet.id}">
                                                <div class="mb-3">
                                                    <input type="text" class="form-control" name="name" th:value="${pet.name}">
                                                </div>
                                                <div class="mb-3">
                                                    <textarea class="form-control" name="content" rows="3" th:text="${pet.content}"></textarea>
                                                </div>

                                                <div>
                                                    <label for="petImage">이미지 업로드</label>
                                                    <input type="file" id="petImage" name="petImage">
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-light">저장</button>
                                            </div>

                                        </form>

                                        <!-- 폼 종료 -->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="py-4 px-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">About Me!</h5>

                    <div th:if="${#authentication.principal.username == pet.owner.member.userName}" sec:authorize="isAuthenticated()">
                        <form th:action="@{|/profile/createPetPhotos|}">
                            <input type="hidden" name="petid" th:value="${pet.id}">
                            <button type="submit" class="btn btn-link text-muted" >추가</button>
                        </form>
                    </div>

                </div>

                <div class="py-4 px-4">
                    <div class="d-flex align-items-center justify-content-between mb-3">
<!--                        <a th:href="@{|/profile/detail/${profile.profileName}/showall|}" class="btn btn-link text-muted">Show all</a>-->
                        <!--                    <form th:action="@{|/profile/showallPostsBy|}">-->
                        <!--                        <input type="hidden" name="profileid" th:value="${profile.id}">-->
                        <!--                        <button type="submit" class="btn btn-link text-muted" >Show all</button>-->
                        <!--                    </form>-->
                    </div>
                    <div class="row" >
                        <div class="col-lg-6 mb-2 pr-lg-1 d-flex" th:each="post, iterStat : ${postList}"
                             th:if="${post.postImages ne null and not #lists.isEmpty(post.postImages)} and ${iterStat.index < 4}">
                            <div>
                                <a th:href="@{|/post/detail/${post.id}/0|}">
                                    <div >
                                        <div class="flex-shrink-0" th:each="img, iterStat : ${post.postImages}" th:if="${iterStat.index lt 1}">

                                            <img th:src="@{|/resources/${img.saveName}|}" alt="no_img" class="img-fluid rounded shadow-sm" style="width:450px; height:300px;">
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>


                </div>
                <!--                <div class="py-4">-->
                <!--                    <h5 class="mb-3">Recent posts</h5>-->
                <!--                    <div class="p-4 bg-light rounded shadow-sm">-->
                <!--                        <p class="font-italic mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>-->
                <!--                        <ul class="list-inline small text-muted mt-3 mb-0">-->
                <!--                            <li class="list-inline-item"><i class="fa fa-comment-o mr-2"></i>12 Comments</li>-->
                <!--                            <li class="list-inline-item"><i class="fa fa-heart-o mr-2"></i>200 Likes</li>-->
                <!--                        </ul>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
            </div>
        </div>
    </div>
</div>
</html>