<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">

<div layout:fragment="content" class="row py-5 px-4">
    <div class="col-xl-4 col-md-6 col-sm-10 mx-auto">
    <div th:if="${menu==1}">
        <div th:replace="~{member/user_account_content::MemberAccountContentFragment}"></div>
    </div>
        <div>
            <a class="btn btn-primary btn-block mb-2" th:href="@{|/member/adminPage|}" data-page="1">유저 관리</a>
            <a class="btn btn-primary btn-block mb-2" href="#" data-page="2">게시글 관리</a>
            <a class="btn btn-primary btn-block mb-2" href="#" data-page="3">댓글 관리</a>
        </div>
    <div th:if="${!#lists.isEmpty(memberList)}">
        <h2 class="font-700 mt-5r mb-5">유저 리스트</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">이름</th>
                <th scope="col">아이디</th>
                <th scope="col">닉네임</th>
                <th scope="col">등급</th>
                <th class="text-center" scope="col">관리</th>
                <!-- 필요한 다른 컬럼들 추가 -->
            </tr>
            </thead>
<!--            th:if="${member.role != 'ROLE_ADMIN'}"-->
            <tbody class="table-group-divider">
            <tr th:each="member : ${paging}">
                <td th:hidden="${member.id}"></td>
                <td style="width: 8rem" th:text="${member.realName}"></td>
                <td style="width: 12rem" th:text="${member.userName}"></td>
                <td style="width: 12rem" th:text="${member.nickName}"></td>
                <td th:hidden="${member.role}"></td>

                <td style="width: 21rem">
                    <form th:action="@{|/member/adminPage/changeMemberRole/${member.id}|}" th:method="post">
                        <input type="hidden" name="id" th:value="${member.id}"/>

                        <label for="user">관리자</label>
                        <input type="radio" id="admin" name="role" value="ROLE_USER" th:value="ROLE_ADMIN"
                               th:checked="${member.role == 'ROLE_ADMIN'}"/>
                        <label for="user">일반 사용자</label>
                        <input type="radio" id="user" name="role" value="ROLE_USER" th:value="ROLE_USER"
                               th:checked="${member.role == 'ROLE_USER'}"/>

                        <button class="btn btn-primary admin-btn" style="margin-left: 10px" type="submit">등급 변경</button>
                    </form>
                </td>
                <td style="width: 9rem">
                    <form th:action="@{|/member/delete|}" th:method="post">
                        <input type="hidden" name="userNames" th:value="${member.userName}"/>
                        <button class="btn btn-danger flex-container admin-btn" style="margin-left: 20px" type="submit"
                                th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                                onclick="confirmUserDelete()">유저 삭제
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <!-- 페이징처리 시작 -->
        <div th:if="${!paging.isEmpty()}">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{|?page=0|}">
                        <span>처음</span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{|?page=${paging.number-1}|}">
                        <span>이전</span>
                    </a>
                </li>
                <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                    th:if="${page >= paging.number-5 and page <= paging.number+5}"
                    th:classappend="${page == paging.number} ? 'active'"
                    class="page-item">
                    <a th:text="${page+1}" class="page-link" th:href="@{|?page=${page}|}"></a>
                </li>
                <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                    <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                        <span>다음</span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                    <a class="page-link" th:href="@{|?page=${paging.totalPages-1}|}">
                        <span>끝</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- 페이징처리 끝 -->
    </div>

<script layout:fragment="script" type='text/javascript'>
    function confirmUserDelete() {
        return confirm("정말로 해당 유저를 강퇴하시겠습니까?");
    }
</script>
    </div>
</div>

</html>