<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="content-area d-flex justify-content-center align-items-center">

    <div class="container">
        <div>
            <div class="row row-cols-1 align-items-center">
                <div class="col">
                    <div class="container">
                        <div class="row row-cols-1">
                            <div class="col" style="">
                                <a type="button" class="btn btn-outline-warning" th:href="@{|/profile/myPage|}">회원 정보</a>
                                <a type="button" class="btn btn-outline-warning" th:href="@{|/post/myPosts|}">내가 쓴 글</a>
                                <a type="button" class="btn btn-outline-warning" th:href="@{|/comment/myComments|}">내가 쓴 댓글</a>
                                <a type="button" class="btn btn-outline-warning" th:href="@{|/post/myLikedPosts|}">좋아요 누른 글</a>
                                <a type="button" class="btn btn-outline-warning" th:href="@{|/comment/myLikedComments|}">좋아요 누른 댓글</a>
                            </div>

                        </div>
                    </div>
                    <!--============================이부분 each문으로 포스트 적용하면 됩니다.=====================================-->
                    <div class="col" th:each="comment, loop : ${paging}">
                        <div class="card" style="width: 100%;">
                            <div class="d-flex">
                                <div class="card-body">
                                    <!--                                <a th:href="'/post/' + ${post.id}" style="text-decoration: none; color:inherit;">-->
                                    <h5 class="card-title">내가 좋아요 누른 댓글이 달린 게시물 :
                                        <a th:href=@{|/post/detail/${comment.getPost.id}/0|} th:text="${comment.getPost.title}"></a>
                                    </h5>
                                    <!--                                    <p th:text="${post.someProperty}"></p>-->
                                    내가 좋아요 누른 댓글 :  <p class="card-text" th:text="${comment.content}"></p>
                                    <!--                                </a>-->
                                    <!--                                <a th:href="'/profile/' + ${post.userId}" style="text-decoration: none; color:inherit;">-->
                                    <!--                                    <p class="text-muted">프로필이미지+ 닉넴 ( 프로필로 이동)</p>-->
                                    <!--                                </a>-->
                                    <div>
                                        <form th:action="@{|/profile/detail|}">
                                            <input type="hidden" name="postid" th:value="${comment.getPost.id}">
                                            <button type="submit" class="btn btn-link" th:text="${comment.author.profileName}" style="text-decoration:none; color:inherit;"></button>
                                        </form>
                                        <!--                                        <a th:href="@{|/profile/detail|}" th:text="${post.author.profileName}" style="text-decoration:none; color:inherit;"></a>-->
                                        <div>
                                            <div th:if="${comment.modifyDate != null}">
                                                댓글 작성일 : <span th:text="${#temporals.format(comment.modifyDate, 'yyyy년 MM월 dd일 HH:mm')}"></span>
                                            </div>
                                            <div th:unless="${comment.modifyDate != null}">
                                                댓글 수정일 : <span th:text="${#temporals.format(comment.createDate, 'yyyy년 MM월 dd일 HH:mm')}"></span>
                                            </div>
                                        </div>
                                        <span id="voteCount" th:text="${'내가 추천한 댓글에 달린 좋아요 : '+comment.likeMembers.size()}"></span>
                                        <!--                                        <p th:text="|${'댓글 : ' + #lists.size(comment.getPost.comments)}|"></p>-->
                                    </div>
                                    <!--                                    <p style="margin-top: 10px; font-size: 17px; " th:if="${!comment.getPost.getTagList().isEmpty()}">-->
                                    <!--                                        <span th:each="tag, loop : ${comment.getPost.getTagList()}" th:text="@{|#${tag.name}|}"></span>-->
                                    <!--                                    </p>-->
                                    <!--                                    <div>-->
                                    <!--                                        <p th:text="${'조회수 : ' + comment.getPost.view}"></p>-->
                                    <!--                                    </div>-->
<!--                                    <div class="pb-5">-->
<!--                                        <button type="button" class="btn btn-primary admin-btn" style="margin-right: 1.3rem" data-bs-toggle="modal"-->
<!--                                                th:data-bs-target="'#approveCommentModal' + ${comment.id}"-->
<!--                                                th:onclick="'openApproveCommentModal(' + ${comment.id} + ')'" >수정</button>-->
<!--                                        &lt;!&ndash; 댓글 수정 모달 창 &ndash;&gt;-->
<!--                                        <div class="modal fade" th:id="'approveCommentModal' + ${comment.id}" tabindex="-1" role="dialog"-->
<!--                                             aria-labelledby="'approveCommentModalLabel' + ${comment.id}" aria-hidden="true">-->
<!--                                            <div class="modal-dialog" role="document">-->
<!--                                                <div class="modal-content">-->
<!--                                                    <div class="modal-header">-->
<!--                                                        <h5 class="modal-title fw-bold fs-4" th:id="'approveCommentModalLabel' + ${comment.id}">댓글 수정</h5>-->
<!--                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">-->
<!--                                                            <span aria-hidden="true"></span>-->
<!--                                                        </button>-->
<!--                                                    </div>-->
<!--                                                    <div class="modal-body">-->
<!--                                                        &lt;!&ndash; 여기에 승인 폼이나 내용을 추가하세요 &ndash;&gt;-->
<!--                                                        <form th:action="@{|/comment/editComment/${comment.id}|}" method="post" onsubmit="return UpdateComment();">-->
<!--                                                            <input type="hidden" name="commentId" th:value="${comment.id}"/>-->
<!--                                                            <div class="font-400 ">-->
<!--                                                                <label for="commentContent" class="form-label fw-bold">내용</label>-->
<!--                                                                <textarea name="content" class="form-control" id="commentContent"-->
<!--                                                                          th:text="${comment.content}" style="height: 300px"></textarea>-->
<!--                                                            </div>-->
<!--                                                            <br>-->
<!--                                                            <div class="modal-footer">-->
<!--                                                                <button type="submit" class="btn btn-success btn-modal" style="margin-top: 15px">수정</button>-->
<!--                                                                <button type="button" class="btn btn-secondary btn-modal" style="margin-top: 15px" data-bs-dismiss="modal">닫기</button>-->
<!--                                                            </div>-->
<!--                                                        </form>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <br>-->
<!--                                        <form th:action="@{|/comment/removeComment/${comment.id}|}" method="post" onsubmit="return DeleteComment();">-->
<!--                                            <button type="submit" class="btn btn-danger admin-btn" >삭제</button>-->
<!--                                        </form>-->
<!--                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 페이징처리 시작 -->
                    <div th:if="${!paging.isEmpty()}">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                                <a class="page-link"
                                   th:href="@{|?page=${paging.number-1}|}">
                                    <span>이전</span>
                                </a>
                            </li>
                            <li th:each="page: ${#numbers.sequence(1, paging.totalPages)}"
                                th:if="${page >= paging.number-5 and page <= paging.number+5}"
                                th:classappend="${page == paging.number+1} ? 'active'"
                                class="page-item">
                                <a th:text="${page}" class="page-link" th:href="@{|?page=${page-1}|}"></a>
                            </li>
                            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                                <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                                    <span>다음</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- 페이징처리 끝 -->
                    <!--============================여기까지 each문으로 포스트 적용하면 됩니다.=====================================-->
                    <!--============================아래부분 예시. 추후 삭제 예정 =====================================-->
                </div>
            </div>
        </div>
    </div>
</div>
<script layout:fragment="script" type='text/javascript'>
    function DeleteComment() {
        return confirm("댓글을 삭제하시겠습니까?");
    }
    function UpdateComment() {
        return confirm("댓글을 수정하시겠습니까?");
    }
    function openApproveCommentModal() {
        $('#approveCommentModal').modal('show');
    }
</script>
</html>