<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="content-area d-flex justify-content-center align-items-center">

    <div class="container">
        <div>
            <div class="row row-cols-1 align-items-center">
                <div class="col">
                    <div class="container">
                        <div class="row row-cols-1">
                            <div class="col" style="">
                                <a type="button" class="btn btn-outline-warning" th:href="@{|/profile/myPage|}">회원 정보</a>
                                <a type="button" class="btn btn-outline-warning" th:href="@{|/post/myPosts|}">내가 쓴 글</a>
                                <a type="button" class="btn btn-outline-warning" th:href="@{|/comment/myComments|}">내가 쓴 댓글</a>
                                <a type="button" class="btn btn-outline-warning" th:href="@{|/post/myLikedPosts|}">좋아요 누른 글</a>
                                <a type="button" class="btn btn-outline-warning" th:href="@{|/comment/myLikedComments|}">좋아요 누른 댓글</a>
                            </div>

                        </div>
                    </div>
                    <!--============================이부분 each문으로 포스트 적용하면 됩니다.=====================================-->
                    <div class="col" th:each="post, loop : ${paging}">
                        <div class="card" style="width: 100%;">
                            <div class="d-flex">
                                <div class="card-body">
                                    <!--                                <a th:href="'/post/' + ${post.id}" style="text-decoration: none; color:inherit;">-->
                                    <h5 class="card-title">내가 좋아요 누른 게시물 :
                                        <a th:href=@{|/post/detail/${post.id}/0|} th:text="${post.title}"></a>
                                    </h5>
                                    <!--                                    <p th:text="${post.someProperty}"></p>-->
                                    <p class="card-text" th:text="${post.content}">게시물내용</p>
                                    <!--                                </a>-->
                                    <!--                                <a th:href="'/profile/' + ${post.userId}" style="text-decoration: none; color:inherit;">-->
                                    <!--                                    <p class="text-muted">프로필이미지+ 닉넴 ( 프로필로 이동)</p>-->
                                    <!--                                </a>-->
                                    <div>
                                        <form th:action="@{|/profile/detail|}">
                                            <input type="hidden" name="postid" th:value="${post.id}">
                                            <button type="submit" class="btn btn-link" th:text="${post.author.profileName}" style="text-decoration:none; color:inherit;"></button>
                                        </form>
                                        <!--                                        <a th:href="@{|/profile/detail|}" th:text="${post.author.profileName}" style="text-decoration:none; color:inherit;"></a>-->
                                        <div>
                                            <div th:if="${post.modifyDate != null}">
                                                <span th:text="${#temporals.format(post.modifyDate, 'yyyy년 MM월 dd일 HH:mm')}"></span>
                                            </div>
                                            <div th:unless="${post.modifyDate != null}">
                                                <span th:text="${#temporals.format(post.createDate, 'yyyy년 MM월 dd일 HH:mm')}"></span>
                                            </div>
                                        </div>
                                        <span id="voteCount" th:text="${'좋아요 : '+post.likeMembers.size()}"></span>
                                        <p th:text="|${'댓글 : ' + #lists.size(post.comments)}|"></p>
                                    </div>
                                    <p style="margin-top: 10px; font-size: 17px; " th:if="${!post.getTagList().isEmpty()}">
                                        <span th:each="tag, loop : ${post.getTagList()}" th:text="@{|#${tag.name}|}"></span>
                                    </p>
                                    <div>
                                        <p th:text="${'조회수 : ' + post.view}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 페이징처리 시작 -->
                    <div th:if="${!paging.isEmpty()}">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                                <a class="page-link" th:href="@{|/post/community/main?page=${paging.number-1}&sort=${sort}&searchTagName=${searchTagName}|}">
                                    <span>이전</span>
                                </a>
                            </li>
                            <li th:each="page: ${#numbers.sequence(1, paging.totalPages)}"
                                th:if="${page >= paging.number-5 and page <= paging.number+5}"
                                th:classappend="${page == paging.number+1} ? 'active'"
                                class="page-item">
                                <a th:text="${page}" class="page-link" th:href="@{|/post/community/main?page=${page-1}&sort=${sort}&searchTagName=${searchTagName}|}"></a>
                            </li>
                            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                                <a class="page-link" th:href="@{|/post/community/main?page=${paging.number+1}&sort=${sort}&searchTagName=${searchTagName}|}">
                                    <span>다음</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- 페이징처리 끝 -->
                    <!--============================여기까지 each문으로 포스트 적용하면 됩니다.=====================================-->
                    <!--============================아래부분 예시. 추후 삭제 예정 =====================================-->
                </div>
            </div>
        </div>
    </div>
</div>
</html>