<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
<div layout:fragment="content" class="row py-5 px-4">
    <div class="col-xl-6 col-md-8 col-sm-10 mx-auto">
        <div>
            <div class="container">
                <div class="row row-cols-1">
                    <div class="col" style="">
                        <a type="button" class="btn btn-outline-warning" th:href="@{|/profile/myPage|}">회원 정보</a>
                        <a type="button" class="btn btn-outline-warning" th:href="@{|/post/myPosts|}">내가 쓴 글</a>
                        <a type="button" class="btn btn-outline-warning" th:href="@{|/comment/myComments|}">내가 쓴 댓글</a>
                        <a type="button" class="btn btn-outline-warning" th:href="@{|/post/myLikedPosts|}">좋아요 누른 글</a>
                        <a type="button" class="btn btn-outline-warning" th:href="@{|/comment/myLikedComments|}">좋아요 누른 댓글</a>
                    </div>

                </div>
            </div>
            <div class="row row-cols-1 align-items-center">
                <div class="col">
                    <div>
                        <p th:text="${'회원 닉네임 : '+ siteMember.getNickName()}"></p>
                        <p th:text="${'회원 전화 번호 : '+ siteMember.getPhoneNum()}"></p>
                        <p th:text="${'회원 이메일 : '+ siteMember.getEmail()}"></p>
                    </div>
                    <a th:href="@{|/profile/myPage/update|}">회원 정보 수정</a>
                </div>
            </div>
        </div>
    </div>


</div>
</html>