<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
<div layout:fragment="content" class="row py-5 px-4">
    <div class="col-xl-4 col-md-6 col-sm-10 mx-auto">
        <form th:action="@{/member/resetPassword}" th:object="${memberResetForm}" method="post" onsubmit="return confirmUpdate()">
            <div class="mb-3">
                <label for="password" class="form-label">현재 비밀번호</label>
                <input id="password" type="password" th:field="*{password}" class="form-control"
                       placeholder="현재 접속한 계정의 비밀 번호를 입력해주세요">
            </div>
            <div class="mb-3">
                <label for="new_password" class="form-label">새 비밀번호</label>
                <input id="new_password" type="password" th:field="*{new_password}" class="form-control"
                       placeholder="8자 이상(영어, 숫자, 특수 문자 필수)">
            </div>
            <div class="mb-3">
                <label for="re_password" class="form-label">새 비밀번호 확인</label>
                <input id="re_password" type="password" th:field="*{re_password}" class="form-control"
                       placeholder="변경할 비밀 번호를 다시 한번 입력해 주세요">
            </div>
            <input type="submit" class="btn btn-primary form-control" style="margin-top: 15px" value="비밀 번호 변경">
        </form>
    </div>
</div>
<script layout:fragment="script" type='text/javascript'>
    function confirmUpdate() {
        return confirm("이대로 비밀번호를 변경하시겠습니까?");
    }
</script>
</html>