<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
<div layout:fragment="content" class="row py-5 px-4">
    <div class="col-xl-4 col-md-6 col-sm-10 mx-auto">
        <form th:action="@{/member/signup}" th:object="${memberCreateForm}" method="post">
            <div>
                <div class="mb-3">
                    <label for="username" class="form-label">아이디</label>
                    <input id="username" type="text" th:field="*{userName}" class="form-control"
                           placeholder="4~15자 이내로 입력해 주세요">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">비밀번호</label>
                    <input id="password" type="password" th:field="*{password}" class="form-control"
                           placeholder="8자 이상(영어, 숫자, 특수문자 필수)" oninput="validatePassword()">
                    <div id="password_result" style="height: 1rem">

                    </div>
                </div>
                <div class="mb-3">
                    <label for="re_password" class="form-label">비밀번호 확인</label>
                    <input id="re_password" type="password" th:field="*{re_password}" class="form-control"
                           placeholder="비밀번호를 다시 한번 입력해 주세요" oninput="validatePassword()">
                    <div id="re_password_result" style="height: 1rem">

                    </div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">이메일</label>
                    <input id="email" type="email" th:field="*{email}" class="form-control"
                           placeholder="예시)rasgulla@gmail.com">
                </div>

                <div class="mb-3">
                    <label for="phoneNum" class="form-label">휴대폰 번호</label>
                    <input id="phoneNum" type="text" th:field="*{phoneNum}" class="form-control text-danger"
                           placeholder="구현 필요">
                </div>

                <div class="mb-3">
                    <label for="realName" class="form-label">실명</label>
                    <input id="realName" type="text" th:field="*{realName}" class="form-control"
                           placeholder="예시)홍길동">
                </div>


                <div class="mb-3">
                    <label for="nickName" class="form-label">닉네임</label>
                    <input id="nickName" type="text" th:field="*{nickName}" class="form-control"
                           placeholder="예시)동에번쩍서에번쩍">
                </div>

                <div>
                    <div class="my-2">
                        <div class="flex-container" style="margin-top: -10px">
                            <div style="margin-right: 1rem">
                                <a href="/oauth2/authorization/google" class="btn bg-google shadow logo-center sns-logo">
                                <div>
                                    <svg style="margin-bottom: 1.2px" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 48 48">
                                        <path  fill="#FFC107" d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"></path><path fill="#FF3D00" d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"></path><path fill="#4CAF50" d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"></path><path fill="#1976D2" d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"></path>
                                    </svg>
                                </div>
                                </a>
                            </div>

                            <div>
                                <a href="/oauth2/authorization/naver">네이버 회원가입</a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <input type="submit" class="btn btn-primary form-control" style="margin-top: 15px" th:value="@{회원가입}">

        </form>
    </div>
</div>
</html>