<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="content-area d-flex justify-content-center align-items-center">
    <form th:object="${memberCreateForm}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <form th:action="@{/member/signup}" th:object="${memberCreateForm}" method="post">
<!--            <div th:replace="~{form_errors :: formErrorsFragment}"></div>-->

            <div class="d-flex justify-content-center">
                <div class="col-md-6">
                    <div class="col my-4">
                        <div class="mb-5 mt-5r text-center">
                            <h2 class="font-700" th:text="${socialLogin.provider}+' 계정 회원가입'">
                            </h2>

                            <div class="top-line my-4"></div>

                            <span class="font-400">
                            지금 가입하고 UMMI에서 맛있는 여정을 떠나보세요!
                        </span>
                        </div>

                            <!--      프로필 이미지       -->
<!--                        <div>-->
<!--                            <div class="font-400 text-center fw-bold">-->
<!--                                <span>프로필 이미지 선택</span>-->
<!--                            </div>-->

<!--                            <div class="my-2 d-flex">-->
<!--&lt;!&ndash;                                <input type="hidden" th:field="*{snsImage}">&ndash;&gt;-->
<!--&lt;!&ndash;                                <input type="radio" class="btn-check" name="profile-picture" id="sns-picture"&ndash;&gt;-->
<!--&lt;!&ndash;                                       value="sns-picture" autocomplete="off" checked>&ndash;&gt;-->
<!--&lt;!&ndash;                                <label for="sns-picture"&ndash;&gt;-->
<!--&lt;!&ndash;                                       class="btn btn-outline-ras btn-large-ras me-2 col d-flex justify-content-center align-items-center">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <div>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <div class="d-flex justify-content-center">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <div style="position: relative; width: 3rem; height: 3rem;">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <img th:src="${socialLogin.image}"&ndash;&gt;-->
<!--&lt;!&ndash;                                                     th:alt="${socialLogin.provider} + ' 프로필 사진'"&ndash;&gt;-->
<!--&lt;!&ndash;                                                     class="shadow rounded-circle text-center"&ndash;&gt;-->
<!--&lt;!&ndash;                                                     style="position: absolute; top: 0; left: 0; transform: translate(50,50); width: 100%; height: 100%; object-fit: cover; margin: auto">&ndash;&gt;-->
<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <div>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <span class="font-400" th:text="${socialLogin.provider}"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                </label>&ndash;&gt;-->

<!--                                <input type="radio" class="btn-check" name="profile-picture" id="ras-picture"-->
<!--                                       value="ras-picture" autocomplete="off">-->
<!--                                <label for="ras-picture"-->
<!--                                       class="btn btn-outline-ras btn-large-ras me-2 col d-flex justify-content-center align-items-center">-->
<!--                                    <div>-->
<!--                                        <div class="d-flex justify-content-center">-->
<!--                                            <div style="position: relative; width: 3rem; height: 3rem;">-->
<!--                                                <img th:src="@{/img/noneuser.png}"-->
<!--                                                     th:alt="${socialLogin.provider} + ' 프로필 사진'"-->
<!--                                                     class="shadow rounded-circle text-center"-->
<!--                                                     style="position: absolute; top: 0; left: 0; transform: translate(50,50); width: 100%; height: 100%; object-fit: cover; margin: auto">-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div>-->
<!--                                            <span class="font-400">기본 사진</span>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </label>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div><br><br></div>

                        <div class="line my-4">
                            회원가입에 필요한 기본 정보를 입력해 주세요.
                        </div>

                        <div class="mb-3 visually-hidden">
                            <label for="username" class="form-label">아이디</label>
                            <input id="username" type="text" th:field="*{userName}">
                        </div>
                        <div class="mb-3 visually-hidden">
                            <label for="password" class="form-label">비밀번호</label>
                            <input id="password" type="text" th:field="*{password}">
                        </div>
                        <div class="mb-3 visually-hidden">
                            <label for="re_password" class="form-label">비밀번호 확인</label>
                            <input id="re_password" type="text" th:field="*{re_password}">
                        </div>
                        <div class="mb-3 visually-hidden">
                            <label for="email" class="form-label">이메일</label>
                            <input id="email" type="email" th:field="*{email}">
                        </div>

                        <div class="mb-3 visually-hidden">
                            <label for="realName" class="form-label">실명</label>
                            <input id="realName" type="text" th:field="*{realName}">
                        </div>

                        <div class="mb-3 visually-hidden">
                            <label for="provider" class="form-label">provider</label>
                            <input id="provider" type="text" th:field="*{provider}">
                        </div>

                        <div class="mb-3 visually-hidden">
                            <label for="providerID" class="form-label">providerID</label>
                            <input id="providerID" type="text" th:field="*{providerID}">
                        </div>

                        <div class="mb-3">
                            <label for="nickName" class="form-label"></label>
                            <input id="nickName" name="nickName" type="text" th:field="*{nickName}"
                                   class="form-control" placeholder="예시)동에번쩍서에번쩍"
                                   required>
                        </div>

                        <div class="mb-3">
                            <label for="phoneNum" class="form-label">휴대폰 번호</label>
                            <input id="phoneNum" type="text" th:field="*{phoneNum}" class="form-control text-danger"
                                   placeholder="구현 필요">
                        </div>

                    </div>

                    <input type="submit" class="btn btn-primary form-control" style="margin-top: 8px" th:value="@{회원가입}">

                    <div class="my-3 d-flex justify-content-center">
                        <div style="margin-top: 5px">
                            <span>이미 회원이신가요?</span>
                            <a th:href="@{/member/login}">로그인</a>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </form>
</div>
</html>