<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form action="@{|/profile/myPage/update|}" method="post">
        <input th:text="${siteMember.getNickName()}" name="nickName" th:value="${siteMember.getNickName()}">
        <input th:text="${siteMember.getPhoneNum()}" name="phoneNum" th:value="${siteMember.getPhoneNum()}">
        <input th:text="${siteMember.getEmail()}" name="email" th:value="${siteMember.getEmail()}">
        <input type="submit" value="회원 정보 수정">
    </form>
</div>
<form th:action="@{|/profile/myPage/delete|}" method="post">
    <input type="submit" value="회원 탈퇴">
</form>
</body>
</html>