<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">

<div layout:fragment="content" class="row py-5 px-4">
    <div class="col-xl-4 col-md-6 col-sm-10 mx-auto">
    <form th:action="@{/profile/myPage/update}" method="post" onsubmit="return confirmUpdate()">
        <div class="mb-3">
        <label for="nickName">닉네임:</label>
            <input type="text" id="nickName" name="nickName" th:value="${siteMember.getNickName()}">
        </div>
        <div class="mb-3">
        <label for="phoneNum">전화번호:</label>
            <input type="text" id="phoneNum" name="phoneNum" th:value="${siteMember.getPhoneNum()}">
        </div>
        <div class="mb-3">
        <label for="email">이메일:</label>
        <input type="text" id="email" name="email" th:value="${siteMember.getEmail()}">
        </div>
        <div class="mb-3">
        <input type="submit" class="btn btn-primary" value="회원 정보 수정">
        </div>
    </form>
<form th:action="@{|/profile/myPage/delete|}" method="post" onsubmit="return confirmDelete()">
    <input type="submit" class="btn btn-primary" value="회원 탈퇴">
</form>
    </div>
</div>
<script layout:fragment="script" type='text/javascript'>
    function confirmUpdate() {
        return confirm("이대로 회원정보를 수정하시겠습니까?");
    }
    function confirmDelete() {
        return confirm("정말로 회원 탈퇴 하시겠습니까?");
    }
</script>
</html>