<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="content-area d-flex justify-content-center align-items-center">

    <div class="container">
        <div>
            <div class="container">
                <div class="row row-cols-3">
                    <div class="col" style="">
                        <a type="button" class="btn btn-outline-warning" href="#">강아지</a>
                        <a type="button" class="btn btn-outline-warning" href="#">고양이</a>
                        <a type="button" class="btn btn-outline-warning" href="#">기타</a>
                    </div>
                    <div class="col" style="border:1px solid;">
                        <a href="#">자유/</a>
                        <a href="#">QnA/</a>
                        <a href="#">??</a>
                    </div>
                    <div class="col" style="border:1px solid;">
                        <a href="#">글쓰기</a>
                    </div>
                </div>
            </div>
            <div>
                <form th:action="@{|/post/updatePost/${post.id}|}" method="post" enctype="multipart/form-data">
                    <div class="d-flex justify-content-start">
                        <div class="pt-5">
                            <div class=" pt-2 mb-4">
                                <h2>제목을 수정하세요~</h2>
                                <textarea class="form-control" name="title" th:text="${post.title}"></textarea>
                            </div>
                        </div>
                    </div>
                    <div>
                        <select id="category" name="category" class="form-select">
                            <option th:selected="${post.category == '자유게시판'}" value="자유게시판">자유게시판</option>
                            <option th:selected="${post.category == 'QnA'}" value="QnA">QnA</option>
                        </select>
                    </div>
                    <hr class="mt-1 mb-5">
                    <div class="mb-5">
                        <label  for="imageFiles" >이미지 추가</label >
                        <input type="file" id="imageFiles" name="imageFiles" multiple>
                    </div>
                    <div class="col">
                        <div th:each="img, iterStat : ${post.postImages}" onclick="deleteImage(this)">
                            <img class="postImage image me-3 mb-3" th:src="@{|/resources/${img.saveName}|}" alt="게시물 이미지"
                                 style="width: 14rem; height: 14rem; border-radius: 1rem; max-width: 100%; max-height: 100%">
                            <button class="btn btn-danger" onclick="deleteImage(this)">X</button>
                        </div>
                    </div>
                    <br>
                    <div class="pt-3 pb-5">
                        <h2>내용을 수정하세요~</h2>
                        <textarea class="form-control" name="content" th:text="${post.content}"></textarea>
                    </div>
                    <div class="d-flex justify-content-end mb-5">
                        <input type="hidden" id="updatePost" name="updatePost">
                        <button class="btn btn-primary admin-btn" type="submit">수정완료</button>
                    </div>
                </form>
            </div>
            <style>
                hr {
                    height: 4px;
                    background-color: black;
                }
                .card {
                   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
               }

                .image{
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
                    }
                .form-control {
                    border: 1px solid #6c757d;
                }
            </style>
        </div>
    </div>
    <script layout:fragment="script" type='text/javascript' th:inline="javascript">
        function deleteImage(buttonElement) {
            var imageElement = $(buttonElement).prev('.postImage');  // 'postImage' 클래스를 가진 형제 중에서 이전 요소 찾기
            var saveName = imageElement.attr('src').substring(imageElement.attr('src').lastIndexOf('/') + 1);

            $.ajax({
              url: '/delete-image',  // 서버의 이미지 삭제 엔드포인트
              method: 'POST',
              data: { saveName: saveName },  // 삭제할 이미지 파일명 전송
              success: function(response) {
                // 서버에서 응답이 성공적으로 온 경우
                $(imageElement).parent().remove();  // 이미지를 감싸는 부모 요소 삭제
                alert("이미지가 삭제되었습니다.");
              },
              error: function(error) {
                alert("이미지 삭제에 실패했습니다.");
              }
            });
          }
    </script>
</div>
</html>