<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="content-area d-flex justify-content-center align-items-center">



    <div class="container">
        <div>
            <div class="container">
                <div class="row row-cols-3">
                    <div class="col" style="">
                        <a type="button" class="btn btn-outline-warning" href="#">강아지</a>
                        <a type="button" class="btn btn-outline-warning" href="#">고양이</a>
                        <a type="button" class="btn btn-outline-warning" href="#">기타</a>
                    </div>
                    <div class="col" style="border:1px solid;">
                        <a href="#">자유/</a>
                        <a href="#">QnA/</a>
                        <a href="#">??</a>
                    </div>
                    <div class="col" style="border:1px solid;">
                        <a href="#">글쓰기</a>
                    </div>
                </div>
        </div>
        <div class="row row-cols-1 align-items-center">
            <div class="col">
<!--============================이부분 each문으로 포스트 적용하면 됩니다.=====================================-->
                <div class="col" th:each="post : ${allPosts}">
                    <div class="card" style="width: 100%;">
                        <div class="d-flex">
                            <!-- 이미지를 표시하려면 post에 이미지 경로 등이 들어있는 속성을 사용해야 합니다. -->
<!--                            <img th:src="${post.imagePath}" class="card-img-top" alt="게시물 이미지" style="width:25%;">-->
                            <div class="card-body">
<!--                                <a th:href="'/post/' + ${post.id}" style="text-decoration: none; color:inherit;">-->
                                    <h5 class="card-title" th:text="${post.title}">게시물제목</h5>
<!--                                    <p th:text="${post.someProperty}"></p>-->
                                    <p class="card-text" th:text="${post.content}">게시물내용</p>
<!--                                </a>-->
<!--                                <a th:href="'/profile/' + ${post.userId}" style="text-decoration: none; color:inherit;">-->
<!--                                    <p class="text-muted">프로필이미지+ 닉넴 ( 프로필로 이동)</p>-->
<!--                                </a>-->
                            </div>
                        </div>
                    </div>
                </div>

                <!--============================여기까지 each문으로 포스트 적용하면 됩니다.=====================================-->
 <!--============================아래부분 예시. 추후 삭제 예정 =====================================-->
            </div>
            <div class="col">
                <div class="card" style="width: 100%;">
                    <div class="d-flex">
                        <img src="..." class="card-img-top" alt="게시물첫번째이미지" style="width:25%;">
                        <div class="card-body">
                            <a href="#" style="text-decoration: none; color:inherit; ">
                                <h5  class="card-title">게시물제목</h5>
                                <p ></p>
                                <p class="card-text">게시물내용~~  on the card title and make up the bulk of the card's content.</p>
                            </a>
                            <a href="#" style="text-decoration: none; color:inherit; ">
                                <p class="text-muted">프로필이미지+ 닉넴 ( 프로필로 이동)</p>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 100%;">
                    <div class="d-flex">
                        <img src="..." class="card-img-top" alt="게시물첫번째이미지" style="width:25%;">
                        <div class="card-body">
                            <a href="#" style="text-decoration: none; color:inherit; ">
                                <h5 class="card-title">게시물제목</h5>
                                <p class="card-text">게시물내용~~  on the card title and make up the bulk of the card's content.</p>
                            </a>
                            <a href="#" style="text-decoration: none; color:inherit; ">
                                <p class="text-muted">프로필이미지+ 닉넴 ( 프로필로 이동)</p>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 100%;">
                    <div class="d-flex">
                        <img src="..." class="card-img-top" alt="게시물첫번째이미지" style="width:25%;">
                        <div class="card-body">
                            <a href="#" style="text-decoration: none; color:inherit; ">
                                <h5 class="card-title">게시물제목</h5>
                                <p class="card-text">게시물내용~~  on the card title and make up the bulk of the card's content.</p>
                            </a>
                            <a href="#" style="text-decoration: none; color:inherit; ">
                                <p class="text-muted">프로필이미지+ 닉넴 ( 프로필로 이동)</p>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
</html>