<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
<div layout:fragment="content" class="row py-5 px-4">

    <form th:action="@{/post/createPost}" th:object="${postForm}" method="post" enctype="multipart/form-data" id="myForm">
        <div class="col-xl-4 col-md-6 col-sm-10 mx-auto">
            <div>
                <label class="form=label">태그 선택</label>
                <div th:each="tag : ${allTags}">
                    <label th:for="${'tag_' + tag.name}">
                        <input type="checkbox" id="${'tag_' + tag.name}" name="selectedTagNames" th:value="${tag.name}"
                               th:text="${tag.name}">
                        <!--                <span th:text="${tag.name}"></span>-->
                    </label>
                </div>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

            <div class="mb-3">
                <label for="title" class="form-label">제목</label>
                <input type="text" class="form-control" id="title" th:field="*{title}">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">내용</label>
                <textarea class="form-control" id="content" th:field="*{content}" rows="3"></textarea>
            </div>

            <div>
                <label for="imageFiles">이미지 업로드</label>
                <input type="file" id="imageFiles" name="imageFiles" >
            </div>
            <button type="submit" class="btn btn-light">저장</button>

        </div>
    </form>

</div>
</html>
