<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
<div layout:fragment="content" class="row py-5 px-4">

    <form th:object="${postForm}" method="post" enctype="multipart/form-data" id="myForm">

        <div class="col-xl-4 col-md-6 col-sm-10 mx-auto">
            <div>
                태그 선택 박스
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

            <div class="mb-3">
                <label for="title" class="form-label">제목</label>
                <input type="text" class="form-control" id="title" th:field="*{title}">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">내용</label>
                <textarea class="form-control" id="content" th:field="*{content}" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-light">저장</button>

        </div>
    </form>




</div>
</html>
