<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="content-area d-flex justify-content-center align-items-center">

    <div class="container">
        <div>
            <div class="container">
                <div class="row row-cols-3">
                    <div class="col" style="">
                        <a type="button" class="btn btn-outline-warning" href="#">강아지</a>
                        <a type="button" class="btn btn-outline-warning" href="#">고양이</a>
                        <a type="button" class="btn btn-outline-warning" href="#">기타</a>
                    </div>
                    <div class="col" style="border:1px solid;">
                        <a href="#">자유/</a>
                        <a href="#">QnA/</a>
                        <a href="#">??</a>
                    </div>
                    <div class="col" style="border:1px solid;">
                        <a href="#">글쓰기</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="d-flex justify-content-start">
                    <div class="pt-5">
                        <div class="border-bottom pt-2 mb-4">
                            <h2 th:text="${post.title}"></h2>
                        </div>
                    </div>
                </div>
                <div>
                    <div style="background-color: #f0f0f0; padding: 10px; display: inline-block; border-radius: 1rem;">
                        <div style="font-size: 18px; font-weight: bold; color: #333;"
                             th:text="${post.author.profileName}"></div>
                        <div>
                            <div th:if="${post.modifyDate != null}">
                                <span style="font-size: 14px; color: #777;"
                                      th:text="${#temporals.format(post.modifyDate, 'yyyy년 MM월 dd일 HH:mm')}"></span>
                            </div>
                            <div th:unless="${post.modifyDate != null}">
                                <span style="font-size: 14px; color: #777;"
                                      th:text="${#temporals.format(post.createDate, 'yyyy년 MM월 dd일 HH:mm')}"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pb-5 col-md-12 text-end">
                    <input type="hidden" id="heart-fill"
                           th:value="${#lists.contains(post.likeMembers, loginedMember)}">
                    <form id="likeForm" class="flex-fill" th:action="@{|/post/postLike|}" method="post"
                          onsubmit="return toggleHeartIcon()">
                        <input type="hidden" name="id" th:value="${post.id}">
                        <i id="heartIcon" class="bi bi-heart" onclick="heartSubmit()"
                           style="font-size: 2rem; color:red; cursor:pointer;">
                            <span class="badge rounded-pill bg-primary"
                                  th:text="${post.likeMembers.size()}"></span></i>
                    </form>
                </div>
                <hr class="mt-1 mb-5">
                <div class="col">
                    <div th:each="img, iterStat : ${post.postImages}" th:if="${iterStat.index lt 3}">
                        <img class="me-3" th:src="@{|/resources/${img.saveName}|}" alt="리뷰 이미지"
                             style="width: 14rem; height: 14rem; border-radius: 1rem; max-width: 100%; max-height: 100%">
                    </div>
                </div>
                <br>
                <div class="pt-3 pb-5">
                    <div th:text="${post.content}"></div>
                </div>
                <br>
                <div class="pb-2">
                    <div class="row justify-content-end">
                        <div class="col-md-auto" th:if="${post.author?.id == loginedMember?.id}">
                            <button type="button" class="btn btn-primary admin-btn" style="margin-right: 0.1rem"
                                    data-bs-toggle="modal" th:data-bs-target="'#approveModal' + ${post.id}"
                                    th:onclick="'openApproveModal(' + ${post.id} + ')'">수정
                            </button>
                        </div>
                        <div class="col-md-auto"
                             th:if="${post.author?.id == loginedMember?.id or loginedMember.getRole() == 'ROLE_ADMIN'}">
                            <form th:action="@{|/post/deletePost/${post.id}|}" method="post"
                                  onsubmit="return DeletePost();">
                                <button type="submit" class="btn btn-danger admin-btn" style="margin-right: 2rem">삭제
                                </button>
                            </form>
                        </div>
                    </div>
                    <!-- 게시물 수정 모달 창 -->
                    <div class="modal fade" th:id="'approveModal' + ${post.id}" tabindex="-1" role="dialog"
                         aria-labelledby="'approveModalLabel' + ${post.id}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title fw-bold fs-4" th:id="'approveModalLabel' + ${post.id}">게시물
                                        수정</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true"></span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- 여기에 승인 폼이나 내용을 추가하세요 -->
                                    <form th:action="@{|/post/updatePost/${post.id}|}" method="post"
                                          th:object="${postForm}"
                                          onsubmit="return UpdatePost();">
                                        <input type="hidden" name="postId" th:value="${post.id}"/>
                                        <div class="font-400 ">
                                            <label for="postTitle" class="form-label fw-bold">제목</label>
                                            <input type="text" id="postTitle" name="title" class="form-control"
                                                   th:value="${post.title}"/>
                                        </div>
                                        <br>
                                        <div class="font-400 ">
                                            <label for="postContent" class="form-label fw-bold">내용</label>
                                            <textarea name="content" class="form-control" id="postContent"
                                                      th:text="${post.content}" style="height: 300px"></textarea>
                                        </div>
                                        <br>
                                        <div>
                                            <label class="form=label">태그 선택</label>
                                            <div th:each="tag : ${allTags}">
                                                <div th:each="getTag : ${post.getTagList()}">
                                                <label th:for="${'tag_' + tag.name}">

                                                    <input type="checkbox" id="${'tag_' + tag.name}"
                                                           name="selectedTagNames" th:value="${tag.name}"
                                                           th:text="${tag.name}"
                                                           th:checked="${getTag.name==tag.name}">
                                                    <!--                <span th:text="${tag.name}"></span>-->
                                                </label>
                                                </div>
                                            </div>
                                            </label>
                                        </div>
                                        <br>
<!--                                        <option selected>카테고리</option>-->
                                        카테고리 선택
                                        <div>
                                            <select id="category" name="category" class="form-select" aria-label="Default select example">
                                                <option selected>카테고리</option>
                                                <option value="자유게시판" th:selected="${post.category == '자유게시판'}">자유게시판</option>
                                                <option value="QnA" th:selected="${post.category == 'QnA'}">QnA</option>
                                            </select>
                                        </div>
                                        <br>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-success btn-modal"
                                                    style="margin-top: 15px">수정
                                            </button>
                                            <button type="button" class="btn btn-secondary btn-modal"
                                                    style="margin-top: 15px" data-bs-dismiss="modal">닫기
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 스타일  -->
            <style>
                hr {
                    height: 4px;
                    background-color: black;
                }
            </style>
            <hr>
            <!--       댓글        -->
            <div class="mb-3">
                <p class="pt-5" th:text="|${#lists.size(post.comments)}개의 답변이 있습니다.|"></p>

                <form th:action="@{|/comment/create/${post.id}|}" method="post" onsubmit="return WriteComment();">
                    <textarea name="content" class="form-control" id="content" rows="3"
                              placeholder="답변을 작성해 주세요"></textarea>
                    <br>
                    <div class="d-flex justify-content-end">
                        <input class="btn btn-outline-primary" type="submit" value="답변작성">
                    </div>
                </form>
                <hr>
                <div th:each="comment : ${post.comments}">
                    <div class="card mb-4" style="width:50%;">
                        <div class="card-body">
                            <div style="background-color: #f0f0f0; padding: 10px; display: inline-block; border-radius: 1rem;">
                                <div style="font-size: 18px; font-weight: bold; color: #333;"
                                     th:text="${comment.author.profileName}"></div>
                                <div style="font-size: 14px; color: #777;"
                                     th:text="${#temporals.format(comment.createDate, 'yyyy년 MM월 dd일 HH:mm')}"></div>
                            </div>
                            <!--                            <form class="flex-fill d-flex justify-content-end" th:action="@{|/comment/commentLike|}"-->
                            <!--                                  method="post">-->
                            <!--                                <input type="hidden" name="id" th:value="${comment.id}">-->
                            <!--                                <button class="btn btn-outline-primary" type="submit">-->
                            <!--                                    좋아요-->
                            <!--                                    <span class="badge rounded-pill bg-primary" id="commentLikeCheck"-->
                            <!--                                          th:text="${comment.likeMembers.size()}"></span>-->
                            <!--                                </button>-->
                            <!--                            </form>-->
                            <div>
                                <input type="hidden" id="CommentHeart-fill-${comment.id}"
                                       th:value="${#lists.contains(comment.likeMembers, loginedMember)}">
                                <form id="CommentLikeForm-${comment.id}" class="flex-fill d-flex justify-content-end"
                                      th:action="@{|/comment/commentLike|}" method="post"
                                      onsubmit="return toggleCommentHeartIcon('${comment.id}')">
                                    <input type="hidden" name="id" th:value="${comment.id}">
                                    <i id="CommentHeartIcon-${comment.id}" class="bi bi-heart"
                                       onclick="CommentHeartSubmit('${comment.id}')"
                                       style="font-size: 2rem; color:red; cursor:pointer;">
                                        <span class="badge rounded-pill bg-primary"
                                              th:text="${comment.likeMembers.size()}"></span>
                                    </i>
                                </form>
                            </div>
                            <hr>
                            <br>
                            <div style="font-size: 14px; color: #777;" th:text="${comment.content}"></div>
                        </div>
                        <div class="pb-2 pt-5">
                            <div class="row d-flex justify-content-end">
                                <div class="col-md-auto" th:if="${comment.author?.id == loginedMember?.id}">
                                    <button type="button" class="btn btn-primary admin-btn" style="margin-right: 0.1rem"
                                            data-bs-toggle="modal"
                                            th:data-bs-target="'#approveCommentModal' + ${comment.id}"
                                            th:onclick="'openApproveCommentModal(' + ${comment.id} + ')'">수정
                                    </button>
                                </div>
                                <div class="col-md-auto"
                                     th:if="${comment.author?.id == loginedMember?.id or loginedMember.getRole() == 'ROLE_ADMIN'}">
                                    <form th:action="@{|/comment/deleteComment/${comment.id}|}" method="post"
                                          onsubmit="return DeleteComment();">
                                        <button type="submit" class="btn btn-danger admin-btn"
                                                style="margin-right: 2rem">삭제
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <!-- 댓글 수정 모달 창 -->
                            <div class="modal fade" th:id="'approveCommentModal' + ${comment.id}" tabindex="-1"
                                 role="dialog"
                                 aria-labelledby="'approveCommentModalLabel' + ${comment.id}" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title fw-bold fs-4"
                                                th:id="'approveCommentModalLabel' + ${comment.id}">댓글 수정</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true"></span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- 여기에 승인 폼이나 내용을 추가하세요 -->
                                            <form th:action="@{|/comment/updateComment/${comment.id}|}" method="post"
                                                  onsubmit="return UpdateComment();">
                                                <input type="hidden" name="commentId" th:value="${comment.id}"/>
                                                <div class="font-400 ">
                                                    <label for="commentContent" class="form-label fw-bold">내용</label>
                                                    <textarea name="content" class="form-control" id="commentContent"
                                                              th:text="${comment.content}"
                                                              style="height: 300px"></textarea>
                                                </div>
                                                <br>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-success btn-modal"
                                                            style="margin-top: 15px">수정
                                                    </button>
                                                    <button type="button" class="btn btn-secondary btn-modal"
                                                            style="margin-top: 15px" data-bs-dismiss="modal">닫기
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 댓글 수정 모달 창 끝 -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- 스타일  -->
            <style>
                .card {
                   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
               }
            </style>
        </div>
    </div>
    <script layout:fragment="script" type='text/javascript'>
        function DeletePost() {
            return confirm("게시글을 삭제하시겠습니까?");
        }
        function UpdatePost() {
            return confirm("게시글을 수정하시겠습니까?");
        }
        function DeleteComment() {
            return confirm("댓글을 삭제하시겠습니까?");
        }
        function UpdateComment() {
            return confirm("댓글을 수정하시겠습니까?");
        }
        function WriteComment() {
            return confirm("답변을 작성하시겠습니까?");
        }
        function openApproveModal() {
            $('#approveModal').modal('show');
        }
        function openApproveCommentModal() {
            $('#approveCommentModal').modal('show');
        }

        //게시물 좋아요
        function toggleHeartIcon() {
            var heartFill = document.getElementById('heart-fill');
            var isFilled = heartFill.value;
            if (isFilled == "" || isFilled === "false") {
                heartIcon.classList.remove('bi-heart-fill');
                heartIcon.classList.add('bi-heart');
            } else {
                heartIcon.classList.remove('bi-heart');
                heartIcon.classList.add('bi-heart-fill');
            }
        }
        function heartSubmit() {
            document.getElementById('likeForm').submit();
        }

        toggleHeartIcon();

        // 댓글 좋아요
            function toggleCommentHeartIcon(commentId) {
        var heartFill = document.getElementById('CommentHeart-fill-' + commentId);
        var isFilled = heartFill.value;
        var commentHeartIcon = document.getElementById('CommentHeartIcon-' + commentId);
        if (isFilled == "" || isFilled === "false") {
            commentHeartIcon.classList.remove('bi-heart-fill');
            commentHeartIcon.classList.add('bi-heart');
        } else {
            commentHeartIcon.classList.remove('bi-heart');
            commentHeartIcon.classList.add('bi-heart-fill');
        }
    }

    function CommentHeartSubmit(commentId) {
        document.getElementById('CommentLikeForm-' + commentId).submit();
    }

        toggleCommentHeartIcon('${comment.id}');
    </script>
</div>
</html>