<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="content-area d-flex justify-content-center align-items-center">

    <div class="container">
        <div>
            <div class="container">
                <div class="row row-cols-3">
                    <div class="col" style="">
                        <a type="button" class="btn btn-outline-warning" href="#">강아지</a>
                        <a type="button" class="btn btn-outline-warning" href="#">고양이</a>
                        <a type="button" class="btn btn-outline-warning" href="#">기타</a>
                    </div>
                    <div class="col" style="border:1px solid;">
                        <a href="#">자유/</a>
                        <a href="#">QnA/</a>
                        <a href="#">??</a>
                    </div>
                    <div class="col" style="border:1px solid;">
                        <a href="#">글쓰기</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="d-flex justify-content-start">
                    <div class="pt-5">
                        <div class="border-bottom pt-2">
                            <h2 th:text="${post.title}"></h2>
                        </div>
                    </div>
                </div>
                <div>
                    <div th:text="${post.author.profileName}"></div>
                    <div>
                        <div th:if="${post.modifyDate != null}">
                            <span th:text="${#temporals.format(post.modifyDate, 'yyyy년 MM월 dd일 HH:mm')}"></span>
                        </div>
                        <div th:unless="${post.modifyDate != null}">
                            <span th:text="${#temporals.format(post.createDate, 'yyyy년 MM월 dd일 HH:mm')}"></span>
                        </div>
                    </div>
                </div>
                <div class="pt-5">
                    <div th:each="img, iterStat : ${post.postImages}" th:if="${iterStat.index lt 3}">
                        <img class="me-3" th:src="@{|/resources/${img.saveName}|}" alt="리뷰 이미지"
                             style="width: 14rem; height: 14rem; border-radius: 1rem; max-width: 100%; max-height: 100%">
                    </div>
                </div>
                <br>
                <div>
                    <div th:text="${post.content}"></div>
                </div>
                <br>
                <div class="pb-5">
                    <form class="flex-fill" th:action="@{|/post/postLike|}" method="post">
                        <input type="hidden" name="id" th:value="${post.id}">
                        <button class="btn btn-outline-primary" type="submit">
                            좋아요
                            <span class="badge rounded-pill bg-primary" id="voteCount"
                                  th:text="${post.likeMembers.size()}"></span>
                        </button>
                    </form>
                </div>
                <div class="pb-5">
                    <button type="button" class="btn btn-primary admin-btn" style="margin-right: 1.3rem" data-bs-toggle="modal" th:data-bs-target="'#approveModal' + ${post.id}"
                            th:onclick="'openApproveModal(' + ${post.id} + ')'" >수정</button>
                    <!-- 모달 창 -->
                    <div class="modal fade" th:id="'approveModal' + ${post.id}" tabindex="-1" role="dialog"
                         aria-labelledby="'approveModalLabel' + ${post.id}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title fw-bold fs-4" th:id="'approveModalLabel' + ${post.id}">게시물 수정</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true"></span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- 여기에 승인 폼이나 내용을 추가하세요 -->
                                    <form th:action="@{|/post/updatePost/${post.id}|}" method="post" onsubmit="return UpdatePost();">
                                        <input type="hidden" name="postId" th:value="${post.id}"/>
                                        <div class="font-400 ">
                                            <label for="postTitle" class="form-label fw-bold">제목</label>
                                            <input type="text" id="postTitle" name="title" class="form-control" th:value="${post.title}"/>
                                        </div>
                                        <br>
                                        <div class="font-400 ">
                                            <label for="postContent" class="form-label fw-bold">내용</label>
                                            <textarea name="content" class="form-control" id="postContent" rows="3" th:value="${post.content}"></textarea>
                                        </div>
                                        <br>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-success btn-modal" style="margin-top: 15px">수정</button>
                                            <button type="button" class="btn btn-secondary btn-modal" style="margin-top: 15px" data-bs-dismiss="modal">닫기</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <form th:action="@{|/post/deletePost/${post.id}|}" method="post" onsubmit="return DeletePost();">
                        <button type="submit" class="btn btn-danger admin-btn" >삭제</button>
                    </form>
                </div>
            </div>
            <style>
                hr {
                    height: 4px;
                    background-color: black;
                }
            </style>
            <hr>
            <div class="mb-3">
                <p th:text="|${#lists.size(post.comments)}개의 답변이 있습니다.|"></p>

                <form th:action="@{|/comment/create/${post.id}|}" method="post">
                    <textarea name="content" class="form-control" id="content" rows="3" placeholder="답변을 작성해 주세요"></textarea>
                    <br>
                    <input class="btn btn-outline-primary" type="submit" value="답변작성">
                </form>
                <br>
                <div th:each="comment : ${post.comments}">
                    <div class="card mb-2">
                        <div class="card-body">
                            <div th:text="${comment.author.profileName}"></div>
                            <div th:text="${#temporals.format(comment.createDate, 'yyyy년 MM월 dd일 HH:mm')}"></div>
                            <br>
                            <div th:text="${comment.content}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="script" type='text/javascript'>
    function DeletePost() {
        return confirm("식당 정보를 삭제하시겠습니까?");
    }
    function UpdateRestaurant() {
        return confirm("식당 정보를 수정하시겠습니까?");
    }
    function openApproveModal() {
        $('#approveModal').modal('show');
    }
</script>

</html>