<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
<div layout:fragment="content" class="row py-5 px-4">
    <form th:object="${profileForm}" method="post" enctype="multipart/form-data" id="myForm">

        <div class="col-xl-4 col-md-6 col-sm-10 mx-auto">
            <button type="submit" class="btn btn-light">&lt;</button>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

            <div class="mb-3">
                <label for="profileName" class="form-label">이름</label>
                <input type="text" class="form-control" id="profileName" th:field="*{profileName}">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">소개</label>
                <textarea class="form-control" id="content" th:field="*{content}" rows="3"></textarea>
            </div>
        </div>

    </form>

</div>
</html>