<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="content-area d-flex justify-content-center align-items-center">

    <div class="container">
        <div>
            <div class="container">
                <div class="row row-cols-3">
                    <div class="col" style="">
                        <a type="button" class="btn btn-outline-warning" href="#">강아지</a>
                        <a type="button" class="btn btn-outline-warning" href="#">고양이</a>
                        <a type="button" class="btn btn-outline-warning" href="#">기타</a>
                    </div>
                    <div class="col" style="border:1px solid;">
                        <a href="#">자유/</a>
                        <a href="#">QnA/</a>
                        <a href="#">??</a>
                    </div>
                    <div class="col" style="border:1px solid;">
                        <a href="#">글쓰기</a>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 align-items-center">
                <div class="col">
                    <h2>제목 검색 결과 조회</h2>
                    <div class="col"
                         th:each="post : ${pagingByTitle}">
                        <div class="card" style="width:100%">
                            <div class="d-flex">
                                <div class="card-body">
                                    <a th:href=@{|/post/detail/${post.id}/0|} th:text="${post.title}"></a>
                                    <div th:text="${post.content}"></div>
                                    <div th:text="${post.author.profileName}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!--        페이징 처리 시작          -->
        <div th:if="${!pagingByTitle.isEmpty()}">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${!pagingByTitle.hasPrevious} ? 'disabled'">
                    <a th:if="${kw !=null}" class="page-link"
                       th:href="@{|?kw=${kw}&page=0|}">
                        <span>처음</span>
                    </a>

                    <a th:if="${kw ==null}" class="page-link"
                       th:href="@{|?page=0|}">
                        <span>처음</span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${!pagingByTitle.hasPrevious} ? 'disabled'">
                    <a th:if="${kw !=null}" class="page-link"
                       th:href="@{|?kw=${kw}&page=${pagingByTitle.number-1}|}">
                        <span>이전</span>
                    </a>
                    <a th:if="${kw ==null}" class="page-link"
                       th:href="@{|?page=${pagingByTitle.number-1}|}">
                        <span>이전</span>
                    </a>
                </li>
                <li th:each="page: ${#numbers.sequence(0, pagingByTitle.totalPages-1)}"
                    th:if="${page >= pagingByTitle.number-5 and page <= pagingByTitle.number+5}"
                    th:classappend="${page == pagingByTitle.number} ? 'active'"
                    class="page-item">

                    <a th:if="${kw !=null}" th:text="${page+1}" class="page-link" th:href="@{|?kw=${kw}&page=${page}|}"></a>
                    <a th:if="${kw ==null}" th:text="${page+1}" class="page-link" th:href="@{|?page=${page}|}"></a>
                </li>
                <li class="page-item" th:classappend="${!pagingByTitle.hasNext} ? 'disabled'">
                    <a th:if="${kw !=null}" class="page-link" th:href="@{|?kw=${kw}&page=${pagingByTitle.number+1}|}">
                        <span>다음</span>
                    </a>

                    <a th:if="${kw ==null}" class="page-link" th:href="@{|?page=${pagingByTitle.number+1}|}">
                        <span>다음</span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${!pagingByTitle.hasNext} ? 'disabled'">
                    <a th:if="${kw ==null}"  class="page-link" th:href="@{|?page=${pagingByTitle.totalPages-1}|}">
                        <span>끝</span>
                    </a>

                    <a th:if="${kw !=null}"  class="page-link" th:href="@{|?kw=${kw}&page=${pagingByTitle.totalPages-1}|}">
                        <span>끝</span>
                    </a>
                </li>
            </ul>
        </div>
        <!--        페이징 처리 끝         -->
    </div>
</div>
</html>